

.item {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 18px;
}


.item_mark {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: grey;
  margin-right: 20px;
}

.item_name a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.item-name a.active {
  color: gold;
}
