.user {
  display: flex;
}

.user_img {
  max-width: 200px;
  max-height: 200px;
}

.user_name {
  margin-left: 40px;
  font-size: 25px;
}

.user_descr_lists{
  margin-top: 15px;
}

.user_descr_list{
  margin-top: 5px;
  list-style-type: none;
}

.user_description_lists li{
  list-style-type: none;
}


.status_wrapper {
  display: block;
  margin-left: 40px;
  color: yellow;
}

.status_input input {
  width: 300px;
  all: unset;
  background-color:rgb(231, 230, 230);
  color: black;
  border-radius: 2px;
}


.status_span {
  width: 300px;
  height: 20px;
  cursor: pointer;
}



.image{
  position: relative;
  height: 200px;
  width: 200px;
}

.wrapper_ava{
  position: absolute;
  background-color:rgb(231, 230, 230);
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
}

.ava{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: url('../../../assets//img/camera.svg') center;
  border-radius: 30%;
  cursor: pointer;
  transition: 0.2s;
}

.ava:hover{
  box-shadow: 0px 0px 10px -1px #000000;
  transition: 0.2s;
}

.ava input{
  position: absolute;
  z-index: -1;
  opacity:0;
}

.data_wrapper{
  position: relative;
  width: 350px;
}


.form input{
  all: unset;
  background-color:rgb(231, 230, 230);
  color: black;
  border-radius: 2px;
  border:rgb(231, 230, 230);
  list-style-type: none;
}

.form li{
  list-style-type: none;
}

.edit{
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}

.edit img{
  display: block;
  width: 30px;
  height: 30px;
}


/* field */

.field{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.field_job{
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}

.field_job input{
  all: revert;
  width: 20px;
  height: 20px;
  margin-left: 12px;
}

.field_contacts{
  margin-top: 10px;
}


/* field */


.save{
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 20px;
}

.save input{
  width: 50px;
  height: 25px;
  text-align: center;
}