@import '/src/fonts.css';

* {
  font-family: 'Proxima Nova';
}


.app-wrapper {
  display: block;
  margin: 0 300px 0 300px;
  width: 1100px;
}

.app-wrapper-inner {
  display: grid;
  grid-template-areas:
            'header header'
            'navbar content';
  grid-gap: 10px;
  grid-template-columns: 250px 100%;
  grid-template-rows: 70px 1fr;

}

.item {
  padding: 10px;
}


