
.users_wrapper {
  display: flex;
  align-items: flex-start;
  padding: 10px 30px 0px;
  max-width: 800px;
  box-sizing: border-box;
}

.dialogs_users {
  text-align: center;
  margin-left: 40px;
}

.dialogs_users img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.dialogs_users_message {
  position: relative;
  font-size: 17px;
  min-height: 50px;
  width: 580px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(173, 173, 173);
}

.dialogs_users_message::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 35px;
  border: 1px solid;
  border: none;
  transform: rotate(45deg);
  top: 5px;
  right: -8px;
  border-radius: 5px;
  background-color: rgb(173, 173, 173);
  z-index: -1;
}