.pagination_wrapper{
  display: flex;
  justify-content: space-between;
  padding: 0 250px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-right: 10px;
}

.pagination_item_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(109, 179, 109);
  width: 5rem;
  height: 2rem;
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 100%;
}


.pagination span {
  cursor: pointer;
}

.pagination_wrapper_selected {
  font-weight: bold;
  color: rgb(251, 255, 0)
}

.button_disable{
  width: 35px;
  height: 32px;
  background-color:rgb(255, 255, 255);
  opacity: 0;
}